body {
  margin: 0 auto;
}

/* Оформление шапки */
header {
  background-color: #2c3e50;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}

/* Выравнивание названия сайта по центру относительно картинки логотипа */
.logo {
  display: flex;
  align-items: center;
}

/* Увеличение расстояния между картинкой логотипа и названия сайта */
.logo-img {
  margin-right: 15px;
}

/* Оформление названия сайта */
.logo-title {
  color: white;
  font-size: 42px;
  font-weight: bold;
}

/* Оформление меню сайта */
.hor-menu ul li {
  list-style-type: none;
  float: left;
  padding: 15px 0px;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro",
    "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.hor-menu ul li a {
  color: #6f8ca7;
  text-decoration: none;
  padding: 10px 15px;
}

/* Эффект наведения на пункт меню и анимация для перехода */
.hor-menu ul li a:hover {
  background-color: #4b657e;
  color: white;
  transition: all 0.5s;
}

/* Оформление обертки */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  border-top: 40px solid rgb(240, 240, 240);
  border-bottom: 40px solid rgb(240, 240, 240);
}

/* Оформление блока */
.content {
  max-width: 860px;
  min-width: 360px;
  padding: 20px;
  background-color: white;
}

/* Выстраивание статей в колонку */
.container {
  display: flex;
  flex-direction: column;
}

/* Оформление картинок (рамка и размер) */
.image img {
  display: flex;
  margin: 10px 10px;
  float: left;
  width: 190px;
  height: 110px;
  border: 12px solid rgb(240, 240, 240);
}

/* Оформление текста */
.item-text {
  padding-top: 15px;
  width: 100%;
}

/* Оформление заголовков */
h2 {
  display: flex;
  color: #2c3e50;
  font-size: 18px;
}

/* Оформление текста статей */
p {
  font-size: 12px;
}

/* Оформление даты публикации статьи */
time {
  opacity: 40%;
  font-size: 10px;
  position: absolute;
  margin-bottom: 10px;
}
